.main {
  width: 100%;
  padding: 15px 0;
}
.main .container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main .container input{
  width: 280px;
  border: 0;
  height: 35px;
  padding-left: 15px;
  border-radius: 15px;
  background-color: rgb(194, 192, 190);
  outline: 0;
}
.main .container button{
  height: 35px;
  line-height: 35px;
  margin: 14px 0;
  width: 180px;
  background-color: rgb(70, 49, 187);
  border: 0;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}
.main article {
  padding: 5px;
  width: 100%;
  max-width: 400px;
  background-color: rgb(223, 223, 223);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main article h1{
  text-transform: uppercase;
  margin: 5px 0;
}
.main article img{
  width: 100%;
  object-fit: cover;
}
.main article p{
  padding-bottom: 8px;
}